#SERVER

#environment variables
/server/.env

# dependencies
/server/node_modules

#misc
/server/routes.rest
/server/.vscode



#CLIENT

# dependencies
/client/node_modules

# production
/client/build

#environment variables
/client/.env.*

#misc
/client/.vscode

