.login_page{
  width: 100vw;
  height: 100vh;
  /* background-image: url("../images/bg3.png") */;
  background-image: linear-gradient(to right, #ffafbd , #ffc3a0);
}

/* #ffafbd → #ffc3a0 */

.login_page .login_form{
  background-color: rgb(232, 240, 254);
  box-shadow: -1px 1px 6px 3px rgba(0, 0, 0, 0.576)
}

.login_page .side_bar {
  color: white;
  background-color: rgba(0, 0, 0, 0.426);
  background-image: url("../images/bg2.jpg");
  background-size: cover;
}


.login_page .pass_visibility_toggle{
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.493);
  outline: none;

}

.login_page .login_form_input{
  background-color: rgba(255, 255, 255, 0);
}

.login_page .signin_btn{
  width: max-content;
  background-color : rgb(237, 183, 6);
  box-shadow: -1px 1px 4px 0px rgba(0, 0, 0, 0.576);
}

.login_page .signup_btn{
  border: 1px solid white;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  background-color : rgba(131, 42, 42, 0)
}

.login_page .signup_btn:hover{
  background-color: white;
  color: black;
}