.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 300px;
  min-width: 200px;
  position: fixed;
  background-color: rgb(255, 255, 255);
  z-index: 99;
}

.modal_overlay{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.22);
}


.fwr424re6{
  background-color: cadetblue;
}

.eq4rr434r{
  
}